{% extends 'blog/base.html' %}

{% block content %}
  <h1>Welcome to Tedo Blogs</h1>
  <div>
    <form method="POST">{% csrf_token %}
        <div class="row">
          <div class="col-lg-9">
              <input type="text" name="title" class="form-control" />
          </div>
          <div class="col-lg-3">
              <button type="submit" class="btn btn-primary btn-block">Search</button>
          </div>
        </div>
    </form>
  </div>
	<div class="table">
    	<table class="table table-striped table-bordered table-sm">
        	<tbody>
                {% if not posts %}
                    <tr><td colspan="2">Empty Result</td></tr>
                {% else %}
              	{% for post in posts %}
            		  <tr>
                		<td>
                      <a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a><br />
                      <i><small>Published: {{ post.published_date }}, Comment: {{ post.approved_comments.count }}</small></i> 
                    </td>
                	</tr>
                {% endfor %}
                {% endif %}
            </tbody>
        </table>
    </div>
{% endblock %}